<div
  class="sm:w-64 bg-blue-300 border-8 rounded border-pink-400 cursor-default"
>
  <div
    class="flex justify-between py-2 px-3 text-left bg-gray-100 border-b-4 border-pink-400"
  >
    <div class="pt-2">
      <div>
        <span>#{{ pokemon.id }}</span>
      </div>
      <div>
        <span class="">{{ pokemon.name | titlecase }}</span>
      </div>
    </div>

    <div class="flex">
      <ng-container *ngFor="let type of pokemon.types">
        <div>
          <span
            class="text-xl"
            tooltip="{{ type.name | titlecase }}"
            [options]="tooltipOptions"
            >{{ type.emoji }}</span
          >
        </div>
      </ng-container>
    </div>
  </div>

  <div
    class="flex justify-center py-5 bg-gradient-to-tr from-gray-300 to-pink-300"
  >
    <div>
      <img class="" src="{{ pokemon.sprite.front_default }}" />
    </div>
  </div>
</div>
