<div class="w-full bg-blue-200 outline-blue">
  <div class="flex justify-between py-2 px-3 text-left bg-gray-200">
    <div class="pt-1">
      <span class="">{{ pokemon.name | titlecase }}</span>
    </div>
    <div class="flex inline justify-end">
      <ng-container *ngFor="let type of pokemon.types">
        <div>
          <span class="text-2xl">{{ type.emoji }}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="bg-blue-300">
      <img class="" src="{{ pokemon.sprite.front_default }}" />
    </div>
  </div>

  <span></span>
</div>
