<div class="md:flex sm:block">
  <div class="md:w-1/2 sm:w-screen h-screen text-center pt-16 bg-pink-200">
    <div class="justify-center cursor-default px-5">
      <h1 class="text-purple-900 text-4xl font-mono">
        Welcome to my PokeApp
        <div class="inline-flex"><span>👋</span></div>
      </h1>
    </div>
    <div class="xl:mt-36 mt-28">
      <div class="text-center mb-5">
        <h4 class="text-gray-800 md:text-2xl text-lg font-mono">
          Search for a pokemon 🔎
        </h4>
      </div>
      <div class="flex justify-center">
        <div
          class="md:w-4/5 2xl:w-2/3 p-5 bg-pink-300 text-center rounded-full"
        >
          <input
            #search
            class="w-11/12 py-2 px-5 text-center text-gray-600 rounded-full font-mono"
            type="text"
            placeholder="ex: {{ randomExample }}"
            (keyup)="handleInput(search.value)"
          />
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="sm:w-screen md:w-1/2 h-screen flex justify-center bg-gray-300">
    <div class="my-auto">
      <div *ngIf="pokemonResult$ | async as pokemon">
        <app-poke-card [pokemon]="pokemon"></app-poke-card>
      </div>
      <div
        class="text-2xl text-red-500"
        *ngIf="!pokemonExists && searchTerm.length"
      >
        No results 😢
      </div>
    </div>
  </div>
</div>
