@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

input {
  outline: 1px solid transparent !important;
}
