@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "animations.scss";

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  outline: 1px solid transparent !important;
}
